* {
    font-family: Inter, system-ui;
    transition: all 0.25s ease-in-out;
}

html {
    height: 100%;
}

html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: rgba(0, 0, 0, 0.96);
        color: rgba(255, 255, 255, 0.95);
    }

    color: rgba(255, 255, 255, 0.95);

}

@media (prefers-color-scheme: light) {
    color: rgba(0, 0, 0, 0.80);
}

header {

    #h1 {
        display: flex;
        flex-direction: row;
        padding: 20px;
        justify-content: space-between;
        align-items: center;

        .box-sign-buttons {
            margin-right: 15px;
            margin-left: auto;
        }

        #T1 {
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.32px;
        }

        #s1 {
            display: flex;

            #hb1, #hb2, #hb3, #hb4, #hb5 {
                padding: 10px 20px;
                border-radius: 34px;
                border: none;
                cursor: pointer;
                text-align: center;
                font-size: max(14px, 1vw);
                font-weight: 700;
                line-height: normal;
            }

            #hb1, #hb6 {
                background: transparent;
                border: transparent;
                @media (prefers-color-scheme: dark) {
                    color: white;
                }
            }

            #hb3, #hb4 {
                background: #1883fd;
                color: #ffffff;
            }

            #person-fill {
                @media (prefers-color-scheme: light) {
                    filter: invert(100%);
                }
            }
        }
    }

    #l1 {
        display: flex;
        flex-direction: column;
        padding-top: 10px;

        #logo {
            display: flex;
            margin: 0 auto;
            width: clamp(128px, 10vw , 162px);
            aspect-ratio: 1/1;
        }

        #p1 {
            text-align: center;
            font-size: clamp(32px, 10vw , 64px);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.64px;
        }

        #p2 {
            text-align: center;
            font-size: clamp(12px, 3vw , 24px);
            margin-left: 20px;
            margin-right: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.24px;
        }
    }
}

body {

    #bb1 {
        margin-bottom: 20px;
        display: flex;
        width: auto;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        gap: 26px;

        #bh {
            /*color: #000;*/
            font-size: clamp(24px, 7vw, 56px);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        #bb2 {
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 9px;
            border-color: transparent;
            border-radius: 60px;
            backdrop-filter: blur(10px);
            @media (prefers-color-scheme: light) {
                background: rgba(237, 239, 241, 0.8);
            }
            @media (prefers-color-scheme: dark) {
                background: rgba(43, 43, 43, 0.8);
            }

            #bu1, #bu2 {
                border-color: transparent;
                background: transparent;
                @media (prefers-color-scheme: dark) {
                    color: white;
                }
                @media (prefers-color-scheme: light) {
                    color: rgba(0, 0, 0, 0.80);
                }
                text-align: center;
                font-size: 22px;
                font-style: normal;
                font-weight: 640;
                line-height: normal;
                padding: 8px 25px;
                margin: 2px;
            }

            #bu2:hover {
                border-radius: 60px;
                @media (prefers-color-scheme: dark) {
                    background: rgba(57, 57, 57, 0.2);
                }
                @media (prefers-color-scheme: light) {
                    background: rgba(133, 133, 133, 0.1);
                }
            }

            #bu1 {
                @media (prefers-color-scheme: light) {
                    background: #ffffff;
                }
                @media (prefers-color-scheme: dark) {
                    background: rgba(96, 96, 96, 0.8);
                }
                border-radius: 34px;
                cursor: initial;
            }
        }

    }

    #roadmap-card-title, #roadmap-card-title2, #roadmap-card-title3 {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 80px;
        padding-left: 70px;
        padding-right: 70px;
    }

    #roadmap-card-title {
        margin-top: -70px;
    }

    #grid-button-plus {
        margin-left: 40%;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 40px;
    }

    #grid-button-plus:hover {
        transform: scale(1.2);

    }

    .button-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, max(310px, min(310px, 100%)));
        gap: 20px;
        justify-items: stretch;
        align-items: center;
        border-radius: 75px;
        @media (prefers-color-scheme: light) {
            background: rgba(237, 239, 241, 0.8);
        }
        @media (prefers-color-scheme: dark) {
            background: rgba(43, 43, 43, 0.8);
        }
        padding: 35px;
        align-self: center;
        max-width: clamp(0px, 95vw, 1380px);
    }

    .grid-button {
        width: 310px;
        height: 110px;
        background: linear-gradient(180deg, rgb(79, 161, 255) 0%, #1883fd 100%);
        border: none;
        border-radius: 38px;
        corner-shape: 100%;
        color: rgba(255, 255, 255, 0.9);
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 700;
        align-content: center;
        cursor: pointer;
        padding-left: 20px;
    }

    .grid-button:hover {
        transition: all 0.2s linear;
        transform: translateY(-2px);
        box-shadow: 0 0 15px rgba(15, 149, 255, 0.4);
        font-weight: 750;
        font-size: 21px;
        #grid-button-plus {
            transform: scale(1.2);
            transition: all 0.2s linear;
        }
    }

    #separator {
        width: 100px;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
    }

    /*.grid-button:active {*/
    /*    transform: translateY(20px);*/
    /*    box-shadow: none;*/
    /*}*/
}

footer {
    width: auto;
    height: min-content;
    @media (prefers-color-scheme: light) {
        background: linear-gradient(180deg, rgba(88, 171, 255, 0.60) 0%, #3397FC 100%);
    }
    @media (prefers-color-scheme: dark) {
        background: linear-gradient(180deg, rgba(52, 155, 255, 0.9), rgba(0, 134, 251, 0.8) 100%  100%);
    }

    .quick-links {
        display: grid;
        width: auto;
        flex-direction: column;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
        justify-content: space-around;
    }

    #ft1 {
        text-align: start;
        padding-top: 30px;
        padding-left: clamp(2px, 10vw, 80px);
        text-shadow: 0 0 75px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        font-size: 64px;
        font-weight: 800;
        background: #FFFFFF;
        background-clip: text;
    }

    #ft2 {
        color: #FFF;
        font-style: normal;
        font-size: 28px;
        line-height: 60px;
        font-weight: 700;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #ft2:hover {
        translate: 2px;
    }
}