* {
    box-sizing: border-box;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 0;
    flex-shrink: 0;

    #h1 {
        display: flex;
        flex-direction: row;
        padding: 20px;
        justify-content: space-between;
        align-items: center;

        #s1 {
            gap: 10px;
            display: flex;

            #sign-in {
                padding: 10px 20px;
                border-radius: 34px;
                border: none;
                cursor: pointer;
                text-align: center;
                font-size: max(14px, 1vw);
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                background: #1883fd;
                color: #ffffff;
            }

        }
    }
}

main {
    flex-grow: 1;

    #body {
        margin-bottom: 20px;
        display: flex;
        width: auto;
        padding-top: 10px;
        flex-direction: column;
        align-items: center;


        #logo {
            display: flex;
            margin: 0 auto;
            width: 124px;
            height: 124px;
            aspect-ratio: 1/1;
        }

        #sign-up-title {
            color: #000;
            font-size: clamp(21px, 5vw, 32px);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

footer {
    flex-grow: 0;
    flex-shrink: 0;

    position: absolute;

    #footer {
        color: #4998FF;
        font-size: 64px;
        font-weight: 800;
        background: #FFFFFF;
        background-clip: text;
    }
}