header {

    #h1 {
        display: flex;
        flex-direction: row;
        padding: 20px;
        justify-content: space-between;
        align-items: center;

        #T1 {
            color: #000;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.32px;
        }

        #s1 {
            gap: 2px;
            display: flex;

            #hb1, #hb2 {
                padding: 10px 20px;
                border-radius: 34px;
                border: none;
                cursor: pointer;
                text-align: center;
                font-size: max(14px, 1vw);
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            #hb1 {
                background: transparent;
                color: #000000;
            }

            #hb2 {
                background: #2391FF;
                color: #FFF;
            }
        }
    }

    #l1 {
        display: flex;
        flex-direction: column;
        padding-top: 10px;

        #logo {
            display: flex;
            margin: 0 auto;
            width: 162px;
            height: 162px;
            aspect-ratio: 1/1;
        }

        #p1 {
            color: #000;
            text-align: center;
            font-size: clamp(32px, 5vw , 64px);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.64px;
        }

        #p2 {
            color: #000;
            text-align: center;
            font-size: clamp(12px, 5vw , 24px);
            margin-left: 20px;
            margin-right: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.24px;
        }
    }
}

body {

    #bb1 {
        margin-bottom: 40px;
        display: flex;
        width: auto;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        gap: 36px;

        #bh {
            color: #000;
            font-size: clamp(32px, 5vw , 56px);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        #bb2 {
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 9px;
            border-color: transparent;
            border-radius: 60px;
            background: rgba(239, 239, 239, 0.8);

            #bu1, #bu2 {
                border-color: transparent;
                background: transparent;
                color: rgba(0, 0, 0, 0.80);
                text-align: center;
                font-size: 22px;
                font-style: normal;
                font-weight: 640;
                line-height: normal;
                padding: 6px 25px;
            }

            #bu2 {
                background: #ffffff;
                border-radius: 34px;
                color: rgba(0, 0, 0, 0.80);
            }
        }
    }

    #Title {
        color: #000;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        padding-left: 2px;
        padding-bottom: 7px;
        line-height: normal;
    }

    #info {
        overflow: hidden;
        color: rgba(0, 0, 0, 0.75);
        text-after-overflow: ellipsis;
        text-overflow: ellipsis;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px; /* 130.769% */
    }

    #details {
        color: rgba(0, 0, 0, 0.75);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
    }

    #separator {
        border-bottom: 3px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #apply-button {
        display: flex;
        width: 105px;
        height: 44px;
        padding: 9px 31px;
        justify-content: center;
        align-items: center;
        gap: 14px;
        flex-shrink: 0;
        border-radius: 34px;
        background: #2880fa;
        border-color: transparent;
        color: #FFF;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    #apply-button:hover {
        background: rgb(53, 141, 255);
        color: rgba(255, 255, 255, 0.7);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
        justify-items: center;
        margin: 0 auto;
        max-width: 1400px;
        gap: 75px;
        padding: 60px;
    }

    .box {
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 45px;
        background: rgba(248, 248, 250, 0.8);
        width: 345px;
        height: 425px;
    }
}

footer {
    width: auto;
    height: 300px;
    background: linear-gradient(180deg, rgb(255, 255, 255) 15%, #3397FC 100%);

    #ft1 {
        text-align: start;
        text-shadow: 0 0 75px rgba(0, 0, 0, 0.25);
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        background-clip: text;
        background: #FFFFFF;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        width: 502px;
        flex-direction: column;
        justify-content: center;
        aspect-ratio: 502.00/118.79;
    }

    #ft2 {
        color: #FFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-left: 70px;
        margin: 10px;
    }
}