* {
    font-family: Inter, system-ui;
    transition: all 0.25s ease-in-out;
}

html {
    height: 100%;
}

html, body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


@media (prefers-color-scheme: dark) {

    body {
        background-color: rgba(0, 0, 0, 0.96);
        color: rgba(255, 255, 255, 0.95);
    }

    background-color: rgba(0, 0, 0, 0.96);
    color: rgba(255, 255, 255, 0.95);
}

@media (prefers-color-scheme: light) {

    color: rgba(0, 0, 0, 0.80);
}

header {

    width: auto;

    #h1 {
        display: flex;
        flex-direction: row;
        padding: 20px;
        justify-content: space-between;
        align-items: center;

        .box-sign-buttons {
            margin-right: 15px;
            margin-left: auto;
        }

        #T1 {
            /*color: #000;*/
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.32px;
        }

        #s1 {
            display: flex;

            #hb1, #hb2, #hb3, #hb4, #hb5 {
                padding: 10px 20px;
                border-radius: 34px;
                border: none;
                cursor: pointer;
                text-align: center;
                font-size: max(14px, 1vw);
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            #hb1, #hb6 {
                background: transparent;
                border: transparent;
                @media (prefers-color-scheme: dark) {
                    color: white;
                }
            }

            #hb3, #hb4 {
                background: #1883fd;
                color: #ffffff;
            }

            #person-fill {
                @media (prefers-color-scheme: light) {
                    filter: invert(100%);
                }
            }
        }
    }

    #l1 {
        display: flex;
        flex-direction: column;
        padding-top: 10px;

        #logo {
            display: flex;
            margin: 0 auto;
            width: 162px;
            height: 162px;
            aspect-ratio: 1/1;
        }

        #p1 {
            /*color: #000;*/
            text-align: center;
            font-size: clamp(32px, 5vw , 64px);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.64px;
        }

        #p2 {
            /*color: #000;*/
            text-align: center;
            font-size: clamp(12px, 5vw , 24px);
            margin-left: 20px;
            margin-right: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.24px;
        }
    }
}

body {
    #bb1 {
        margin-bottom: 20px;
        display: flex;
        width: auto;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        gap: 26px;

        #bh {
            /*color: #000;*/
            font-size: clamp(32px, 5vw, 56px);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        #bb2 {
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 9px;
            border-color: transparent;
            border-radius: 60px;
            @media (prefers-color-scheme: light) {
                background: rgba(237, 239, 241, 0.8);
            }
            @media (prefers-color-scheme: dark) {
                background: rgba(43, 43, 43, 0.8);
            }

            #bu1, #bu2 {
                border-color: transparent;
                background: transparent;
                /*color: rgba(0, 0, 0, 0.80);*/
                @media (prefers-color-scheme: dark) {
                    color: white;
                }
                @media (prefers-color-scheme: light) {
                    color: rgba(0, 0, 0, 0.80);
                }
                text-align: center;
                font-size: 22px;
                font-style: normal;
                font-weight: 640;
                line-height: normal;
                padding: 6px 25px;
            }

            #bu2 {
                @media (prefers-color-scheme: light) {
                    background: #ffffff;
                }
                @media (prefers-color-scheme: dark) {
                    background: rgba(96, 96, 96, 0.8);
                }
                border-radius: 34px;
                cursor: initial;
                /*color: rgba(0, 0, 0, 0.80);*/
            }

            #bu1:hover {
                border-radius: 60px;
                @media (prefers-color-scheme: dark) {
                    background: rgba(57, 57, 57, 0.2);
                }
                @media (prefers-color-scheme: light) {
                    background: rgba(133, 133, 133, 0.1);
                }
            }
        }
    }

    #Title {
        /*color: #000;*/
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        padding-left: 2px;
        padding-bottom: 7px;
        line-height: normal;
    }

    #info {
        overflow: hidden;
        /*color: rgba(0, 0, 0, 0.75);*/
        text-after-overflow: ellipsis;
        text-overflow: ellipsis;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px; /* 130.769% */
        padding-bottom: 18px;
    }

    #details {
        /*color: rgba(0, 0, 0, 0.75);*/
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        padding-bottom: 4px;
    }

    #separator {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 3px;
        @media (prefers-color-scheme: light) {
            background: rgba(34, 34, 34, 0.1);
        }
        @media (prefers-color-scheme: dark) {
            background: rgba(230, 230, 230, 0.1);
        }
    }

    #apply-button {
        display: flex;
        width: 105px;
        height: 44px;
        padding: 9px 31px;
        justify-content: center;
        align-items: center;
        gap: 14px;
        flex-shrink: 0;
        border-radius: 34px;
        background: #2880fa;
        border-color: transparent;
        color: #FFF;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    #apply-button:hover {
        background: rgb(53, 141, 255);
        color: rgba(255, 255, 255, 0.7);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
        justify-items: center;
        margin: 0 auto;
        max-width: 1400px;
        gap: 75px;
        padding: 60px;
    }

    .box {
        display: flex;
        flex-direction: column;
        border-radius: 45px;
        @media (prefers-color-scheme: light) {
            background: rgba(237, 239, 241, 0.8);
        }
        @media (prefers-color-scheme: dark) {
            color: white;
            background: rgba(43, 43, 43, 0.8);
        }
        width: 345px;
        /*height: 425px;*/
        padding: 20px 20px 15px;
    }
}

footer {
    width: 100%;
    height: min-content;
    @media (prefers-color-scheme: light) {
        background: linear-gradient(180deg, rgba(88, 171, 255, 0.60) 0%, #3397FC 100%);
    }
    @media (prefers-color-scheme: dark) {
        background: linear-gradient(180deg, rgba(52, 155, 255, 0.9), rgba(0, 134, 251, 0.8) 100%  100%);
    }

    .quick-links {
        display: grid;
        width: auto;
        flex-direction: column;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
        justify-content: space-around;
    }

    #ft1 {
        text-align: start;
        padding-top: 30px;
        padding-left: clamp(2px, 10vw, 80px);
        text-shadow: 0 0 75px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        font-size: 64px;
        font-weight: 800;
        background: #FFFFFF;
        background-clip: text;
    }

    #ft2 {
        color: #FFF;
        font-style: normal;
        font-size: 28px;
        line-height: 60px;
        font-weight: 700;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #ft2:hover {
        translate: 2px;
    }
}