<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
</head>
<body>

<h2>Create Application</h2>
<div th:if="${errorMessage}"
     style="color:red;border:1px solid red;padding:10px;margin-bottom:15px;">
    <p th:text="${errorMessage}"></p>
</div>

<form action="#" th:action="@{/application/save}" th:object="${applicationandCVDTO}" method="post">

    <label>First Name:</label>
    <input type="text" th:field="*{application.fname}" />

    <label>Last Name:</label>
    <input type="text" th:field="*{application.lname}" />

    <label>Email:</label>
    <input type="email" th:field="*{application.email}" />

<!--    <label>CV:</label>-->
<!--    <input type="text" th:field="*{cv}" />-->
<
    <button type="submit">Apply</button>
</form>
</body>
</html>