<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to InternMap</title>
</head>
<body>
<nav>
    <ul>
       <li> <a th:href="@{/login}">Log In</a></li>
        <li> <a th:href="@{/admin/register}">Admin Register</a></li>
        <li><a th:href="@{/student/register}">Student Register</a></li>
        <li><a th:href="@{/recruiter/register}">Recruiter Register</a></li>
       <li> <a th:href="@{/JobPostings}">
            <button>View All Job Postings</button>
        </a></li>
        <li><a th:href="@{/profile}">Profile</a></li>

    </ul>
</nav>
</body>
</html>